html {
    box-sizing: border-box;
    font-size: 17px;
}

*, *::before, *::after {
    box-sizing: inherit;
}

@font-face {
    font-family: 'Better One';
    src: url('./resources/EuphoriaScript-Regular.ttf');
}

body {
    font-family: 'Better One', cursive;
    color: white;
    /* background-image: url(./resources/rockbg2.jpg);
    background-size: cover; */
    background-color: #398C4B;
    text-align: center;
}

.container {
    display: flex;
    flex-flow: column wrap;
    place-content: center center;
}

h1, p, button {
    margin: 1rem auto;
    font-size: 3rem;
}

.btns {
    display: flex;
    flex-flow: row wrap;
    place-content: center center;
    margin: 5rem 0 2rem 0;
}

.btns input {
    margin: 0 4rem;
}

.score {
    display: flex;
    flex-flow: row wrap;
    place-content: center space-around;
}

button {
    font-family: inherit;
    background-color: inherit;
    color: inherit;
    border-radius: 5rem;
    border: 2px solid;
}



